main{
    display: flex;

    background-color: rgb(85, 189, 189);
    height: 70vh;
    padding: 40px;
}
.img-principal{
    width: 40%;
    background-color: bisque;
}
.info-prod{
    padding: 40px;
}