.footer {
  background-color: #1a1a1a;
  color: #ddd;
  padding: 30px 0;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer-section {
  
  margin: 15px;
  min-width: 250px;
  box-sizing: border-box;
  flex: 1 1 250px;
}
.footer-section ul li a{
  color: rgb(84, 84, 185);
}