*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}
nav ul{
    display: flex;
    gap: 3rem;
    list-style: none; 

}
li a{ 
    color: black;
    list-style: none;
    text-decoration: none;
    
}
#btnLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    gap: 12px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(168, 168, 168, 0.233);
    height: 80vh;
}
.title {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
}
#cadastroForm{
    flex-direction: column;
}

.formu{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 400px;
    padding: 20px;
    border-radius: 6px;
}
.form {

    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 400px;

}
  
.input {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}
  
.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}
  
.page-link-label {
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}
  
  .page-link-label:hover {
    color: #000;
}
  
.form-btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
  .form-btn:active {
    box-shadow: none;
}
.sign-up-label {
    margin: 0;
    font-size: 14px;
    color: #747474;
}
  
#sign-up-link {
    margin-left: 1px;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
}

#alterar_senha h1{
    text-align: center;
    margin-bottom: 70px;
}