*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}
header h1{
    color: aqua;
    font-size: smaller;
}
nav ul{
    display: flex;
    gap: 3rem;
    list-style: none; 

}
li a{ 
    color: black;
    list-style: none;
    text-decoration: none;
    
}